@media (min-width: 768px) {
    #menu { display: none; }
    nav { display: flex !important; flex-direction: row; justify-content: center; }
    nav a { border-bottom: none; width: 150px; }

    .top-grid { display: grid; grid-template-columns: 2fr 1fr; gap: 20px; }
    
    #course-list { 
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        gap: 15px;
    }
}