@media (min-width: 768px) {

  .logo {
    height: 60px;
  }

  #menu {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    background: none;
    position: static;
    gap: 2rem;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 4rem;
  }

  main h1 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 0;
  }
}
